# Modules used for the Lab
pandas
scikit-learn
seaborn
matplotlib
imbalanced-learn
openml
xgboost
spacy # run in bash: python -m spacy download en_core_web_sm

tabulate

# Optional modules
black
isort
tqdm